<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!--
                                                    <div width="100%">
                                                        <p><b>Quand cela s'est-il passé?</b><span class="text-danger">*</span>
                                                        </p>
                                                        <p> <i>
                                                                <font size="2">Indiquez le moment où les faits se sont produits,
                                                                    en
                                                                    cochant et complétant une des trois rubriques :
                                                                    <br>Soyez le plus précis possible, à défaut cochez la case
                                                                    "Je ne
                                                                    sais pas quand se sont produits les faits"?
                                                                </font>
                                                            </i></p>
                                       
                                                        <b-form-radio v-model="selected" name="date_faits" value="">
                                                            Je connais la date et l'heure des
                                                            faits
                                                        </b-form-radio>
                                                        <b-form-group label-for="date_fait" description="(format jj/mm/aaaa)">
                                                            <b-form-input style="width:30%" id="date_fait" type="text ">
                                                            </b-form-input>
                                                        </b-form-group>
                                                        <b-form-radio v-model="selected" name="date_faits" value="Je ne
                                                        connais pas précisement la
                                                        date et/ou l'heure des faits">
                                                            Je ne
                                                            connais pas précisement la
                                                            date et/ou l'heure des faits</b-form-radio>
                                       
                                       
                                       
                                       
                                                        <b-form-group label-for="date_incertaine"
                                                            description="(format jj/mm/aaaa)">
                                                            Entre le
                                                            <b-form-input id="date_incertaine" style="width:30%"></b-form-input>
                                                            et le
                                                            <b-form-input style="width:30%" id="date_incertaine"></b-form-input>
                                                        </b-form-group>
                                       
                                                        <br>
                                                    <b-form-radio>Je
                                                        ne sais pas quand se sont produits les faits</b-form-radio>
                                       
                                                    </div>
                                                    -->
</body>

</html>